
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=IBM+Plex+Sans&family=Kumbh+Sans:wght@200;500&family=Montserrat&display=swap');


:root {

  --Very-Light-Grayish-Blue:rgb(246, 246, 254);
  --Light-Grayish-Blue:rgb(179, 181, 198);
  --Grayish-Blue:rgb(109, 112, 141);
  --Dark-Grayish-Blue: rgb(73, 76, 95);

}


body {
  margin: 0;
  font-family: "Montserrat";
  font-size: 15px;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--Very-Light-Grayish-Blue);
  background-image: url(/images/bg-bottom.svg),url(/images/bg-top.svg);
  background-position: right top, left bottom;
  background-repeat: no-repeat;
  display: grid;
  place-content: center;



}

.Card {

  
background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));

  border-radius: 30px;
  padding: 50px;
  padding-bottom: 50px;
  display: grid;
place-content: center;

}

.price {

    font-size: 4em;
    margin: 15px 0;
    width: 250px;
    color: white;
    text-align: center;
    
}

.type {

  display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.price-box {

list-style: none;
text-align: center;
padding: 30px;
    margin: 10px;
    color: white;
}


.Yes .btn-learn{

  background: hsl(237, 63%, 64%);
  color: var(--Very-Light-Grayish-Blue);
  border: solid 2px;

}

.No .btn-learn {

  background-color: wheat;

}
.btn-learn {

  text-align: center;
  color:  hsl(232, 13%, 33%);
  text-transform: uppercase;
padding: 10px;
border-radius: 10px;
border-style: none;
color: hsl(237, 63%, 64%);
font-weight: bold;
border: none;
border-radius: 5px;
color: hsl(237, 63%, 64%);
font-family: 'Montserrat', sans-serif;
letter-spacing: 2px;
padding: 15px;
margin-top: 10px;
width: 100%;
text-transform: uppercase;
}
.Body {

  display: grid;
  place-content: center;
  text-align: center;
 
}

.active {

  background-color: aqua;
  
}


.active {

  background-color: aqua;
  
}
.inactive {

  background-color: blueviolet;
}